@page
@model BJM.Resume.UI.Pages.EducationModel
@{
    ViewData["Title"] = "Education";
}
<div class="text-center">
    <h1 class="display-4">Education</h1>
    <ul>
        <li>High School Diploma, Home Educated, Kewaskum WI 2018 / Completed coursework Dec. 2018 </li>
        <li>Intro to Solidworks and Autocad, Moraine Park Technical College / 2017-18</li>
        <li>Currently in my third semester of The Software Development Program at Fox Valley Technical College while holding a 3.9+ GPA / 2022 - 2023</li>
    </ul>
    <p></p>
</div>
