@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Info about Ben Mentink</h1>
    <h2>SUMMARY</h2>
    <p>Previous experience with past employment which included hands-on skills and leadership opportunities in a team environment. Additionally, my education has energized me to become a dedicated worker, looking to contribute to the success of a growing company.</p>
    <h2>SKILLS</h2>
        <ul>
            <li>Trained on CNC machines</li>
            <li>Trained on Programing and operating CMM machines </li>
            <li>Problem solver</li>
            <li>Adapts quickly</li>
            <li>Attention to detail</li>
            <li>Mechanically minded</li>
            <li>Good communications skills</li>
            <li>Willingness and eagerness to learn</li>
            <li>Works well with others as well as independently</li>
            <li>Interested in growth</li>
            <li>Receives instruction well</li>
            <li>Familiar with hand tools</li>
            <li>Computer proficiency</li>
        </ul>
    <h2>ACTIVITIES</h2>
    <ul>
        <li>Basic Robotics, Badger Boosters 4H (2015-16)</li>
        <li>Civil Air Patrol, West Bend Division (2016-18)</li>
        <li>Esports, (2018-present)</li>
    </ul>
    <p></p>
</div>
