@page
@model BJM.Resume.UI.Pages.WorkHistoryModel
@{
    ViewData["Title"] = "Work History";
}
<div class="text-center">
    <h1 class="display-4">Work History</h1>
    <ul>
        <li>Sacristan, Holy Hill National Shrine / March 2016- January 2019</li>
        <p>Assisted in daily maintenance around the grounds and Basilica. Worked in teams and individually. Assisted Friars and Pilgrims. Assisted in training of new sacristans. Team leader in small projects.</p>
        <li>CNC Machinist and Quality Inspector, Gauthier Biomedical / February 2019 – April 2022</li>
        <p>Worked as an entry level CNC machinist, quickly learning the operations of the shop and becoming proficient on several machines. After a year and a half, I transferred to quality department where I quickly became a key part of the team and also requested to learn the CMM machine which was lacking personal capable of running and programming the machine.</p>
        <li>Tech Desk Part, FVTC Part time / Fall 2022 – May 2023</li>
        <p>Worked as a Part time assistant at the school’s tech desk. Fixing computer issues and answering tech related questions.</p>
        <li>Manufacturing Production, Reynolds Consumer Products / Summer 2023</li>
        <p>Worked as a full time Production associate within the Waste bag department over the summer as part of their student outreach program. </p>
</div>
